{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="jumbotron text-center p-4">
        <h2>HarperDB Contact Manager</h2>
      </div>
    </div>
    <div class="col-lg-8 text-center">
      <h5>This is a Python + Flask implementation of a contact manager that explores HarperDB CRUD functionalities.</h5>
    </div>
    <div class="col-lg-7 text-center">
      <a href="{{ url_for('contacts') }}" class="btn btn-success m-3">VIEW CONTACTS</a>
      <img width="100%" src="{{ url_for('static', filename='home.jpg') }}">
    </div>
  </div>
</div>
{% endblock %}